spring:
  application:
    name: hello-spring-cloud-config
  cloud:
    config:
      label: master
      server:
        git:
          uri: https://github.com/wuhao19/springcloud-2.X.git
          search-paths: configServer
          username: 9287070994@qq.com
          password: wuhao191919/

server:
  port: 8888

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/